*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

body{
	background: #eeeeee;
	margin: 0;
	padding: 0;
}

/*______ MKS________ */
.img1{
	width: 100%;
  height: auto;
}

span{
padding-left: 4em;
}

.hfour{
padding-left: 100em;
margin-left:1000px;
}

.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

.all-browsers > h1, .browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: white;
}

.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left:42%;
   margin-top:0.5%;
  margin-bottom:0.5%;
  cursor: pointer;
  width:130px;
  border-radius: 4px;
}

.button2 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left:42%;
   margin-top:0.5%;
  margin-bottom:0.5%;
  cursor: pointer;
  width:150px;
  border-radius: 4px;
}
.button22 {background-color: #f44336;} /* Red */ 

.button3 {background-color: #f44336;} /* Red */ 

ul#menu li {
  display:inline;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 14.9px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 50px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

/* ____________ */


.tm-container{
	max-width: 1200px;
	margin: 0 auto;
}

.tm-header{
	background:#111111;
}

.tm-header::after{
	content: " ";
	clear: both;
	display: block;
	visibility: none;
}

.tm-logo{
	float: left;
}

.tm-nav{
	float: right;
}

.tm-nav ul li{
	display: inline-block;
}

.tm-nav ul li a{
	padding: 10px 20px;
	text-decoration: none;
	color: #eeeeee;
	line-height: 60px;
}


.banner{
	width: 100%;
	display: block;
}

.banner-image{
	width: 100%;
	display: block;
}

.tm-nav ul li a:hover{
	color: #000000;
	background-color: #ffffff;
}

.tm-footer{
	margin-top:25px;
	background: #111111;
	text-align: center;
	padding: 20px;
	color: #eeeeee
}

.container{
	max-width: 1200px;
	margin: auto;
	background: white;
	overflow: auto;
}

.gallery{
	margin: 10px;
	border: 1px solid #cccccc;
	float: left;
	width: 378px;
}

.gallery img{
	width: 100%;
	height: auto;
}

.figcaption{
	padding: 15px;
	text-align: center;
	color:black;
}

.contact{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url(images/pic3.jpg) no-repeat;
	background-size: cover;
}

.contact .content{
	max-width: 800px;
	text-align: center;
}

.contact-map{
	width: 100%;
	height: auto;
	flex: 50%
}

.contact-map iframe{
	width: 60%;
	height: 100%;
}

.contact .content h2{
	font-size: 36px;
	font-weight: 800;
	color: #000000;
}

.contact .content .cup1{
	color: #f0ffff;
	font-weight: 700;
}

.contact .content .cup2{
	color: #000000;
	font-weight: 500;
}

.contact .content .text{
	font-weight: 600;
	color: #ffffff;
}

.containerInfo{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.containerInfo .contactInfo{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.containerInfo .contactInfo .box{
	position: relative;
	padding: 20px 0;
	display: flex;
}

.containerInfo .contactInfo .box .icon{
	min-width: 60px;
	height: 60px;
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}

.containerInfo .contactInfo .box .text{
	text-align: left;
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #ffffff;
	flex-direction: column;
	font-weight: 300;
}

.containerInfo .contactInfo .box .text h3{
	font-weight: 500;
	color: #a52a2a;
}

.containerInfo .contactInfo .box .text p, a{
	font-weight: 700;
	color: #fafad2;
}

.contactForm{
	text-align: left;
	width: 60%;
	padding: 40px;
	background: #ffffff;
}

.contactForm h2{
	font-size: 30px;
	color: #333333;
	font-weight: 500;
}

.contactForm .inputBox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333333;
	outline: none;
	resize: none;
}

.contactForm .inputBox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
	color: #e91e63;
	font-size: 12px;
	transform: translateY(-20px);
}

.contactForm .inputBox input[type= "submit"]
{
	width: 100px;
	background: #00bcd4;
	color: #ffffff;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}

@media (max-width: 991px)
{
	.contact
	{
		padding: 50px;
	}
	.containerInfo
	{
		flex-direction: column;
	}
	.containerInfo .contactInfo
	{
		margin-bottom: 40px;
	}
	.containerInfo .contactInfo, .contactForm
	{
		width: 100%
	}
}

.article{
	border: solid 0.1em #1d1d1c;
	padding: 10px;
	margin-left: 50px;
	margin-right: 50px;
}

.page-heading .text-content h4 {
	text-align:center;
	color: #f33f3f;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}

.page-heading .text-content h2 {
	color: #fff;
	font-size: 55px;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-align:center;
}

.team-members {
	margin-top: 30px;
}

.team-member {
	border: 1px solid #eee;
	margin-bottom: 30px;
}

.team-member img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 30%;
	overflow: hidden;
}

.team-member .down-content {
	padding: 30px;
	text-align: center;
}

.team-member .thumb-container {
	position: relative;
}

.team-member .thumb-container .hover-effect {
	position: absolute;
	background-color: #9AFEFF;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all .5s;
}

.team-member .thumb-container .hover-effect .hover-content {
	position: absolute;
	display: inline-block;
	width: 100%;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

.team-member .thumb-container .hover-effect .hover-content ul.social-icons li a:hover {
	background-color: #fff;
	color: #f33f3f;
}

.team-member:hover .hover-effect {
	visibility: visible;
	opacity: 0.5;
}

.team-member .down-content h4 {
	font-size: 17px;
	color: #1a6692;
	margin-bottom: 8px;
}

.team-member .down-content span {
	display: block;
	font-size: 13px;
	color: #f33f3f;
	font-weight: 500;
	margin-bottom: 20px;
}


.row {
	padding-bottom: 0px!important;
	border-bottom: none!important;
}

.section-heading a {
		float: none;
		margin-top: 0px;
		display: block;
		margin-bottom: 20px;
}

.section-background { 
	background: #f1f1f1; 
}

.section {
	padding: 30px 0;
}



.section p {
	margin-bottom: 15px;
}

.section .section-heading {
	margin-bottom: 45px;
}

.section-heading {
	text-align: left;
	margin-bottom: 60px;
	border-bottom: 1px solid #eee;
}

.section-heading h2 {
	font-size: 28px;
	font-weight: 400;
	color: #1e1e1e;
	margin-bottom: 15px;
}

.page-heading {
	padding: 210px 0px 130px 0px;
	text-align: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.page-heading .text-content h4 {
	color: #f33f3f;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}

.page-heading .text-content h2 {
	color: red;
	font-size: 62px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.about-features {
	margin-top: 25px!important;
}

.about-features p {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}

.about-features .container .row {
	padding-bottom: 0px!important;
	border-bottom: none!important;
}

.best-features {
	margin-top: 25px;
}

.best-features .container .row {
	border-bottom: 1px solid #eee;
	padding-bottom: 60px;
}

.best-features img {
	width: 30%;
	overflow: hidden;
}

.best-features h4 {
	font-size: 17px;
	color: #1a6692;
	margin-bottom: 20px;
}

.best-features ul.featured-list li {
	display: block;
	margin-bottom: 10px;
}

.best-features p {
	margin-bottom: 25px;
}

.best-features ul.featured-list li a {
	font-size: 14px;
	color: #4a4a4a;
	font-weight: 300;
	transition: all .3s;
	position: relative;
	padding-left: 13px;
}

.best-features ul.featured-list li a:before {
	content: '';
	width: 5px;
	height: 5px;
	display: inline-block;
	background-color: #4a4a4a;
	position: absolute;
	left: 0;
	transition: all .3s;
	top: 8px;
}

.best-features ul.featured-list li a:hover {
	color: #f33f3f;
}

.best-features ul.featured-list li a:hover::before {
	background-color: #f33f3f;
}

.best-features .filled-button {
	margin-top: 20px;
}

.best-features .left-content {
		margin-bottom: 30px;
		float: left;

}

.about-features img {
		margin-bottom: 30px;

}

